<!DOCTYPE html>
<html>
<head>
    <title>Hotel Room Reservation</title>
    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<h2>Hotel Room Reservation System</h2>

<form method="post" class="card">

    <input type="number"
           name="count"
           placeholder="Enter number of rooms (1–5)">

    <div class="buttons">
        <button name="action" value="book">Book</button>
        <button name="action" value="random">Random</button>
        <button name="action" value="reset">Reset</button>
    </div>

    {% if msg %}
        <p class="msg {{ msg_type }}">{{ msg }}</p>
    {% endif %}
</form>

<div class="legend">
    <span class="box free"></span> Available
    <span class="box busy"></span> Occupied
    <span class="box new"></span> Newly booked
</div>

<div class="hotel">
{% for floor in range(10, 0, -1) %}
    <div class="floor">
        <div class="label">Floor {{ floor }}</div>

        <div class="rooms">
            {% for r in rooms %}
                {% if r.floor == floor %}
                    <div class="room
                        {% if r.just_booked %}new{% endif %}
                        {% if r.occupied %}busy{% endif %}">
                        {{ r.room }}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endfor %}
</div>

</body>
</html>
