<!DOCTYPE html>
<html>
<head>
    <title>Hotel Room Reservation</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<h2>Hotel Room Reservation System</h2>

<div class="controls">
    <input type="number" id="count" placeholder="No of rooms (1-5)">
    <button onclick="book()">Book</button>
    <button onclick="resetAll()">Reset</button>
    <button onclick="randomFill()">Random</button>
</div>

<div class="hotel">
    {% for r in rooms %}
        <div class="room {% if r.occupied %}occupied{% endif %}">
            {{ r.room }}
        </div>
    {% endfor %}
</div>

<script>
function book() {
    const count = document.getElementById("count").value;

    fetch("/book", {
        method: "POST",
        headers: {"Content-Type": "application/json"},
        body: JSON.stringify({count: count})
    }).then(() => location.reload());
}

function resetAll() {
    fetch("/reset", {method: "POST"}).then(() => location.reload());
}

function randomFill() {
    fetch("/random", {method: "POST"}).then(() => location.reload());
}
</script>

</body>
</html>
